<div class="title-main">
  <a href="/"><h1>Reload</h1></a>
</div>
<nav>
  <div class="site-title">
    <p>Notes</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/blogs/create">Create blog</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
